{% extends 'Home/base.html' %}
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <h3 class="page-title">Teacher Details</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-info">
                            <h4>{{ teacher.user.first_name }} {{ teacher.user.last_name }}</h4>
                            <p><strong>Email:</strong> {{ teacher.user.email }}</p>
                            <p><strong>Qualification:</strong> {{ teacher.qualification }}</p>
                            <p><strong>Experience:</strong> {{ teacher.experience }} ans</p>
                            <p><strong>Gender:</strong> {{ teacher.gender }}</p>
                            <p><strong>Address:</strong> {{ teacher.address }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
      <script src="{%static 'assets/js/popper.min.js' %}"></script>
      <script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{%static 'assets/js/script.js' %}"></script>
{% endblock %}