{% extends 'Home/base.html' %}
{% load static %}
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <h3 class="page-title">Edit Subject</h3>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Subject Name</label>
                                        <input type="text" name="subject_name" value="{{ subject.subject_name }}" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Teacher</label>
                                        <select name="teacher" class="form-control" required>
                                            {% for teacher in teachers %}
                                                <option value="{{ teacher.id }}" {% if teacher.id == subject.teacher.id %}selected{% endif %}>
                                                    {{ teacher.user.first_name }} {{ teacher.user.last_name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Update Subject</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{%static 'assets/js/popper.min.js' %}"></script>
      <script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{%static 'assets/plugins/datatables/datatables.min.js' %}"></script>
      <script src="{%static 'assets/js/script.js' %}"></script>
{% endblock %}